*{
    margin: 0;
    padding: 0;
}

body{
    font-family: DM_Serif_Text;
}

.cabecalho {
    background-color: #ffffff;
    color: rgb(1, 148, 26);
    display: flex;
    justify-content: left;
}


.cabecalho-imagem2{
    width: 7%;
    margin-left: 10%;
}

.cabecalho-lista-item{
    display: inline-flex;
    margin: 50px 70px; 
    font-size: 20px;
}

.escola{
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.escola-div-conteudo{
    width: 35%;
    margin-right: 45%;
}

.escola-titulo{
    font-size: 28px;
    padding: 20px 0;
}

.escola-texto1{
    font-size: 20px;
    padding: 10px 0;
}

.rodape{
    background-color:rgb(1, 148, 26);
    color: white;
    text-align: right;
    padding: 30px 0;
}