.swiper-slide img{
    width: 100%;
    border-radius: 10px;
}

.swiper-pagination{
    position: initial;
    margin: 0em 0 2em 0;
}

.carrossel{
    padding: 2.5em 0;
}

.descricao-titulo{
    color: var(--cor-menu-itens);
    font-weight: 700;
    font-size: 20px;
    margin: 0.5em 0;
}

.descricao-texto{
    font-size: 16px;
    font-weight: 700;
}

.descricao-imagem{
    border-radius: 20px;
}

    .swiper-pagination{
        margin: 0em 0 3em 0;
    }


@media screen and (min-width: 1728px) {
    .carrossel-container{
        display: flex;
        margin: 2em 5vw 2em 5vw;
        align-items: center;
    }}

    .descricao-texto{
        font-size: 30px;
    }
