.cabeçalho_menu{
    width: 24px;
    height: 24px;
}

.cabeçalho{
    background-color: var(--cor-de-texto-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
