@import url("styles/header.css");
@import url("styles/carrossel.css");
@import url("styles/rodape.css");

:root{
    --cor-de-fundo: #DFDFDF;
    --cor-de-texto-principal: white;
    --cor-menu: #008005;
    font-family: 'DM Serif Text';
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.text-colegio{
    font-size: 40px;
    padding-left: 10%;
    margin-top: 40px;
}

.sobre-colegio{
    font-size: 20px;
    padding-left: 10%;
    margin-top: 40px;
}

.text-header{
    font: 1em sans-serif;
}
